
.header {  
  color: $color-white;
  //font-weight: 400;
  font-size: 2.5rem;
  padding: 3% 0 4.5%;
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));
}

.score {
  color: $color-white;
  text-align: left;
  padding: 0 0 0 10%;

  &__num {
    color: $color-white;
    text-align: left;
    padding: 0 0 0 2%;
  }
}

.quizQuestionCard {

  &__launchMessage {
    color: $color-white;
    margin: 7% 0;
  }
 
  &__question {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 3% auto 6%;   
    height: 30vh;
    width: 80%;      
    max-width: 600px; 
    border-radius: 10px;   
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
    background-color: $color-white;
  }

  &__img {
    // object-fit: cover;
    width: 100%;
    max-height: 75%;    
    border-radius: 10px 10px 0 0 ;       
    //background: linear-gradient(180deg, transparent, $color-red);
    //background: linear-gradient(180deg, rgba(246, 248, 250, 0) 0%, rgba(255, 255, 255, 0.90) 50%);
    -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));     
  }

  &__caption {
    font-family: $font-utility;
    font-weight: bolder;
    font-size: 1.125rem;
   
    //margin: auto;
    width: 90%;
    height: auto;    
    position: absolute;
    vertical-align: bottom;
    bottom: 0;
    padding: 3% 4.5%;    
    //background: linear-gradient(180deg, rgba(246, 248, 250, 0) 0%, rgba(255, 255, 255, 0.90) 50%);
    border-radius: 0 0 10px 10px;  
  }

 

  &__answerBtn {
    cursor: pointer;
    display: flex;
    align-items: center;    
    margin: 3% auto;
    width: 80%;
    height: 50px; 
   //height: 7vh;       
    border: none;
    border-radius: 100px;
    background-color: $color-white;      
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);    
    //box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.6);    
  }

  &__option {    
    margin: 0 0 0 5px;    
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    color: rgb(112, 9, 126);
    border-radius: 100px;
    background-color: $color-grey;
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.6);
  }

  &__answer {
    padding: 0 15px 0 10px;
    width: 75%;    
  }

  &__gameOver {
    color: $color-yellow;  
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));    
    padding: 12% 0;
    font-family: $font-gameOver;
    font-size: 2.25rem;
  }

  &__endOfQuizMessage {
    color: $color-white;    
    padding-bottom: 12%;
  }
}

.start-game {
  cursor: pointer;
  margin-top: 3%;
  color: $color-black;
  background-color: $color-white;
  width: 80%;
  //height: 7vh;
  height: 50px;
  border-radius: 100px;
  border-style: none;
  font-size: 1.75rem;
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
}